*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-image: linear-gradient(to right, #0097b2,#7ed957);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    position: relative;
}
.cabeçalho__menu-hamburguer {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url("img/hanburguer.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -12vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: #64cbd6;
    margin-left: -14vw;
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 15vw;  
    z-index:1;
}
.lista-menu__link {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.container__botao{
    display: none;
}
.cabecalho_direito{
    align-items: center;
    display: flex;
    margin-left: -35vw;
}

.barra-pesquisa{
    width: 400px;
    height: 30px;
    border-radius: 30px;
    border: 3px solid black;
}
.obejetivo{
    display: flex;
    height: 300px;
    background-color: #00bf63;
    color: aliceblue;
}
.coluna {
      display: flex;
      background-color: #000000;
      word-spacing: 1px;
      font-style: normal;
      align-items: center;
      font-size: small;
      justify-content: space-between;
      gap: 10;
    }
  
a {
      text-decoration: none;
      color: #ffffff;
  }
  
body {
      background-color: #cef997;
}
  
  

.top2 {
    display: flex;
    margin: 50px;
    gap: 50px;
    align-items: center;
  }
.top2 h2{
    color: white;
    background-color: #000000;
}

h2 {
    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

p {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top3 {
    display: flex;
    margin: 20px;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
}

.grid {
   display: grid; 
   grid-template-columns: repeat(8,1fr);
   grid-template-rows: repeat(5, 1fr);
   max-height: 99vh;
}

.texto1 {
  grid-row: 2/5;
  margin-top: -2em;

  grid-column: 3/7;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
 


}

.texto2 {
  grid-row: 3/5;
  grid-column: 2/8;
  margin-top: -1em;
  font-size: 18px;
  text-align: center; 
}

.img {
  grid-row: 1/5;
  grid-column: 7/8;
}

.texto2 p {
  color: black;
  
}

#img1 {
  background-image: url(img/laboratorio.jpg);
  
}

#img2 {
  background-image: url(img/Salas\ de\ Aula\ professora.jpg);
}

#img3 {
  background-image: url(img/Salas\ de\ Aula.jpg);
}

#img1, #img2, #img3 {
width: 500px;
height: 500px;
color: black;
align-items: bottom;
text-align: center;
gap: 10px;
display: flex;
flex-direction: column;
Justify-content: end;
margin-left:10px;
padding-bottom: 30px;
background-size: cover;
margin-bottom: 100px;
}

.titulo {
  font-size: 2em;
  margin-left: 3em;
}

#serv1, #serv2, #serv3 {
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}

.top3 img {
  height: 20vw;
  gap: 1px;
}
.top3 p {
  color: black;
}

.joao {
  Margin-left: 2em;
}

 h3 {
 margin-top: 10px;
}

.top4 {
  display: flex;
  justify-content: space-around;
}
.top4 h2{
    color: black;
    font-size: 30px;
    align-items: center;
}

#text {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

#imagens {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

#pao1, #pao2, #pao3 {
  display: flex;
  flex-direction: column;
}

#pao1 img, #pao2 img, #pao3 img {
  width: 30vw;
  margin-bottom: 1em;
}

#pao1 h2, #pao2 h2, #pao3 h2 {
  color: black;
}

#pao1 p, #pao2 p, #pao3 p {
  color: black;
}

.botao-1 {
  color: white;
  background-color: rgb(4, 107, 107);
  border-radius: 30px;
  padding: 10px 40px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

.top5 {
  display: flex;
  gap: 150px;
}

h3 {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.saiba {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.infor {
  margin-bottom: 10vw;
  width: 450px;
  font-size: 40px;
  margin-top: 100px;
  color: black;
}

.top3 h3 {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social {
  background-image: linear-gradient(to right, #0097b2,#7ed957);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  gap: 10px;
  color: black;
  word-spacing: 10px;
  gap: 250px;
  padding: 20px;
  align-items: center;
}

#nome {
 margin-left: 40px; 
}

#top2 {
  justify-content: center;
  font-size: 50px;
  display: flex;
  gap: 400px;
}
.top5 h2{
    color: black;
}
.corpo{
  justify-content: center;
  align-items: center;
  min-height: 40vw;
  display: flex;
}
.mapBox{
  width: 80vw;
  height: 35vw;
  background: #fff;
}
.mapBox iframe{
  width: 100%;
  height: 100%;
}
.corpo{
    margin-top: -10vw;
}
@media screen and (max-width: 730px) {
  .logo{
    width: 150px;
    margin-left: 10vw;
  
  }
 
  .barra-pesquisa{
    display: none;
  }
 
.img_login{
  width: 50px;
  }
  .cabecalho_direito{
    align-items:baseline;
    display: flex;
    margin-left: -18vw;

}
.cabeçalho__menu-hamburguer {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url("img/hanburguer.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -7vw;

}
.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: #64cbd6;
    margin-left: 0;

  
}
.lista-menu{
  margin-left: -10vw;
  width: 80vw;
}
}