@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
