*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-image: linear-gradient(to right, #0097b2,#7ed957);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    position: relative;
}
.cabeçalho__menu-hamburguer {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url("img/hanburguer.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -12vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: #64cbd6;
    margin-left: -14vw;
}



.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 15vw;  
    z-index:1;
}
.lista-menu__link {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.container__botao{
    display: none;
}
.cabecalho_direito{
    align-items: center;
    display: flex;
    margin-left: -35vw;
}
.barra-pesquisa{
    width: 400px;
    height: 30px;
    border-radius: 30px;
    border: 3px solid black;
}
.imagem_robotica{
    text-align: center;
    margin: 30px;
}
body{
    background-color: #FFDE59;
}
.img-mapa-mental{
    width: 90vw;
}
.imgrobo{
    width: 10vw;
    margin-top: -40vw;
    margin-left: 85vw;
}
.texto-robotica{
    text-align: center;
    padding: 1em;
    margin: 1em;
}
.texto-robotica p{
    font-size: 25px;
}
.texto-robotica h2{
   text-align: left;
   padding: 10px;
   margin: 10px;
   font-size: 30px;
}
.social {
    background-image: linear-gradient(to right, #0097b2,#7ed957);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    gap: 10px;
    color: black;
    word-spacing: 10px;
    gap: 250px;
    padding: 20px;
    align-items: center;
  }
  
  #nome {
   margin-left: 40px; 
  }
  @media screen and (max-width: 730px) {
    .logo{
      width: 150px;
      margin-left: 10vw;
    
    }
   
    .barra-pesquisa{
      display: none;
    }
   
  .img_login{
    width: 50px;
    }
    .cabecalho_direito{
      align-items:baseline;
      display: flex;
      margin-left: -18vw;
  
  }
  .cabeçalho__menu-hamburguer {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url("img/hanburguer.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -7vw;
  
  }
  .lista-menu__titulo,
  .lista-menu__item {
      padding: 1em;
      background-color: #64cbd6;
      margin-left: 0;
  
    
  }
  .lista-menu{
    margin-left: -10vw;
    width: 80vw;
  }
  }