*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-image: linear-gradient(to right, #0097b2,#7ed957);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    position: relative;
}
.cabeçalho__menu-hamburguer {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url("img/hanburguer.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -12vw;

}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: #64cbd6;
    margin-left: -14vw;

    
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 15vw;  
    z-index:1;
}
.lista-menu__link {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.container__botao{
    display: none;
}
.cabecalho_direito{
    align-items: center;
    display: flex;
    margin-left: -35vw;

}
.barra-pesquisa{
    width: 400px;
    height: 30px;
    border-radius: 30px;
    border: 3px solid black;
}
.obejetivo{
    display: flex;
    height: 30px;
    background-color: #00bf63;
    color: aliceblue;
    margin-top: 30px;
    padding: 10px;
    
}
.banner-principal{
    background-image: url(img/imagem_fundo.png);
    background-size: 100% ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 38vw;
}

.hero-container{
    position: relative;
  
    width: 100%;
  
    overflow: hidden;  
  }
  
  .hero-banner{  
    display: flex;
    width: 300%;
    height: 400px;  
  }
  
  .hero-banner img{
    max-width: 100%;
    width: 1000px;
    max-height: 400px;
    object-fit: cover;
  }
  
  .slides-radio{
    display: flex;
  }
  
  .bg-slide{
    transition: .8s;  
  }
  
  .banner-nav{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  
  .banner-control{
    width: 48px;
    height: 8px;
  
    background: #000000;
    opacity: .5;
  
    cursor: pointer;
  }
  
  .input-radio{
    display: none;
  }
  
  .banner-control:hover{
    transition: .3s;
    opacity: 1;
  }
  
  #bg1:checked ~ .bg1{
    margin-left: 0;
  }
  
  #bg2:checked ~ .bg1{
    margin-left: -33.33%;
  }
  
  #bg3:checked ~ .bg1{
    margin-left: -66.66%;
  }

  .container{
    width: 1000px;
    margin: 0 auto;
    margin-top: -35%;
    padding-bottom: 2em;
  }

.objetivo-titulo{
font-size: 35px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 700;
margin-left: 200px;
margin-top: 30px;
}
.objetivo{
  display: flex;
  justify-content: space-around;
  background-color: #00bf63;
  height: 250px;
  align-items: center;
  
}
.texto_obejtico{
  padding: 1em;
  font-size: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.texto_obejtico span{
  font-size: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}
.social {
  background-image: linear-gradient(to right, #0097b2,#7ed957);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: black;
  padding: 20px;
  align-items: center;
}

#nome {
  font-size: 2em;
  font-weight: bold;
  margin-left: 40px; 
}
@media screen and (max-width: 730px) {
  .logo{
    width: 150px;
    margin-left: 10vw;
  
  }
  .banner-principal{
    width: 100vw;
  }
  .hero-banner img{
    max-width: 100%;
    width: 80vw;
    max-height: 30vw;
    object-fit: cover;
  }
  .banner-control{
    width: 2em;
    background: #000000;
    opacity: .5;
  
    cursor: pointer;
  }
  .container{
    width: 80vw;
    margin: 0 auto;
    margin-top: -35%;
    padding-bottom: 2em;
    height: 18vw;
  }
  .banner-nav{
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .barra-pesquisa{
    display: none;
  }
  .hero-banner{  
    height: 30vw;
}
.img_login{
  width: 50px;
  }
  .cabecalho_direito{
    align-items:baseline;
    display: flex;
    margin-left: -18vw;

}
.cabeçalho__menu-hamburguer {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url("img/hanburguer.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -7vw;

}
.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: #64cbd6;
    margin-left: 0;

  
}
.objetivo{
  display: flex  ;
  display: flow-root;
  background-color: #00bf63;
  height: 100%;
}
.objetivo-titulo{
  
margin-left: 0px;
margin-top: 0px;
}
.lista-menu{
  margin-left: -10vw;
  width: 80vw;
}
}